@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MANAGEMENT</h1>
    <p class="lead">Il magazzino più grande d'Italia</p>
    <p><a href="https://localhost:44352/Utente/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

